<footer>
  <p>Copyright &copy; 2024.</p>
  <p>Created by <a href="/contact" target="_blank" id="username">WebMinds</a> </p>
  <div>


  </div>
</footer>




<script src="/scripts/header.js"></script>

</body>

</html>